{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <h4 class="text-center text-gray-500 p-5 text-2xl">Deleting category {{categoryName}}</h4>
 
    <div class="w-full max-w-sm mx-auto m-8">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" 
            action="{{url_for('deleteCategory', categoryName=categoryName)}}" 
            method="POST">
            
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Are you sure to delete {{categoryName}}?
            </label>
            </div>
            <div class="flex items-center justify-between">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 mx-12 rounded focus:outline-none focus:shadow-outline" type="submit">
                Yes
            </button>
            <a class="bg-blue-500 hover:bg-blue-700 rounded py-2 px-3 inline-block align-baseline font-bold text-sm text-white mx-24" 
                href="{{url_for('allCategories')}}">
                No
            </a>
            </div>
        </form>
    </div>


    
{% endblock %}