<!DOCTYPE html>
<html lang="en">
	<head>

		<!--  GOOGLE Pre-requisites -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
		<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
		<meta name="google-signin-client_id" content="633581098598-sltt0ggeg10q0889jcvr0h1i9akut87i.apps.googleusercontent.com">
		
		<script>
			function start() {
				gapi.load('auth2', function() {
					auth2 = gapi.auth2.init({
					client_id: '633581098598-sltt0ggeg10q0889jcvr0h1i9akut87i.apps.googleusercontent.com',
					// Scopes to request in addition to 'profile' and 'email'
					//scope: 'additional_scope'
					});
				});
			}
		</script>
		<!-- GOOGLE END Pre-requisites -->
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>